## Import libraries

In [4]:
import pandas as pd
import numpy as np
import os

## Import Data

In [8]:
path=r'/Users/yasersouri/Desktop/data analysis/Instacart Basket Analysis/02 Data'

In [89]:
# import orders table
df_ords=pd.read_csv(os.path.join(path,'Original Data','orders.csv'),index_col=False)

In [90]:
# import products table
df_prods=pd.read_csv(os.path.join(path,'Original Data','products.csv'),index_col=False)

In [91]:
#import departments table
df_deps=pd.read_csv(os.path.join(path,'Original Data','departments.csv'),index_col=False)

In [10]:
df_prods_ords_prior=pd.read_csv(os.path.join(path,'Original Data','orders_products_prior.csv'),index_col=False)

## Data Wrangling

In [93]:
# dropping columns
df_ords=df_ords.drop(columns=['eval_set'])

In [94]:
# search for missing value
df_ords['days_since_prior_order'].value_counts(dropna=False)

days_since_prior_order
30.0    369323
7.0     320608
6.0     240013
4.0     221696
3.0     217005
5.0     214503
NaN     206209
2.0     193206
8.0     181717
1.0     145247
9.0     118188
14.0    100230
10.0     95186
13.0     83214
11.0     80970
12.0     76146
0.0      67755
15.0     66579
16.0     46941
21.0     45470
17.0     39245
20.0     38527
18.0     35881
19.0     34384
22.0     32012
28.0     26777
23.0     23885
27.0     22013
24.0     20712
25.0     19234
29.0     19191
26.0     19016
Name: count, dtype: int64

In [95]:
# rename column
df_ords.rename(columns={'order_dow':'orders_day_of_week'},inplace=True)

In [96]:
# change data type
df_ords['order_id']=df_ords['order_id'].astype('str')
df_ords['user_id']=df_ords['user_id'].astype('str')

In [97]:
df_ords.describe()

,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [98]:
df_ords['order_id'].dtype

dtype('O')

In [99]:
# transposing data
df_deps=df_deps.T

In [100]:
df_deps.reset_index()

            index                0
0   department_id       department
1               1           frozen
2               2            other
3               3           bakery
4               4          produce
5               5          alcohol
6               6    international
7               7        beverages
8               8             pets
9               9  dry goods pasta
10             10             bulk
11             11    personal care
12             12     meat seafood
13             13           pantry
14             14        breakfast
15             15     canned goods
16             16       dairy eggs
17             17        household
18             18           babies
19             19           snacks
20             20             deli
21             21          missing

In [101]:
# first step to reset the header (copy first column)
new_header=df_deps.iloc[0]

In [102]:
# second step (remove first row from table ,by copy all table except first row)
df_dep_new=df_deps[1:]

In [103]:
# thired step (set new header)
df_dep_new.columns=new_header

In [104]:
df_dep_new

department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

## Data Dictionaries

In [106]:
# turn deratments dataframe into dictionary
deps_data_dict=df_dep_new.to_dict('index')

In [107]:
print(deps_data_dict.get('19'))

{'department': 'snacks'}

## Subsetting

In [109]:
# subset snacks dataframe
df_snacks=df_prods[df_prods['department_id']==19]

## task 4.4

In [111]:
# change order_number in orders data frame into str
df_ords['order_number']=df_ords['order_number'].astype('str')

In [112]:
# change order_number to order_number for each user
df_ords.rename(columns={'order_number':'user_order_number'},inplace=True)

In [113]:
#find the busiest hour
df_ords['order_hour_of_day'].value_counts(dropna=False)

order_hour_of_day
10    288418
11    284728
15    283639
14    283042
13    277999
12    272841
16    272553
9     257812
17    228795
18    182912
8     178201
19    140569
20    104292
7      91868
21     78109
22     61468
23     40043
6      30529
0      22758
1      12398
5       9569
2       7539
4       5527
3       5474
Name: count, dtype: int64

# the busiest hours are from 10:00 to 11:00, and from 14:00 to 15:00

In [115]:
# the meaning of value 4 of department_id in products dataframe
print(deps_data_dict.get('4'))

{'department': 'produce'}

In [116]:
# create subset contain breakfast data
df_dep_new

department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [117]:
df_breakfast=df_prods[df_prods['department_id']==14]

In [118]:
df_breakfast.head()

,product_id,product_name,aisle_id,department_id,prices
27,28,Wheat Chex Cereal,121,14,10.1
33,34,NaN,121,14,12.2
67,68,"Pancake Mix, Buttermilk",130,14,13.7
89,90,Smorz Cereal,121,14,3.9
210,211,Gluten Free Organic Cereal Coconut Maple Vanilla,130,14,3.6

In [119]:
# create subset for dinner parties (alchohol,beverages,meat/seafood, and deli)
df_dinner_parties=df_prods.loc[df_prods['department_id'].isin([5,7,12,20])]

In [120]:
# how many rows is there in the last dataframe
df_dinner_parties.shape

(7650, 5)

In [121]:
df_user1=df_ords.loc[df_ords['user_id'].isin(['1'])]

In [122]:
df_user1

,order_id,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
5,3367565,1,6,2,7,19.0
6,550135,1,7,1,9,20.0
7,3108588,1,8,1,14,14.0
8,2295261,1,9,1,16,0.0
9,2550362,1,10,4,8,30.0
10,1187899,1,11,4,8,14.0

In [123]:
# all info about user 1
df_user1.describe()

       orders_day_of_week  order_hour_of_day  days_since_prior_order
count           11.000000          11.000000               10.000000
mean             2.636364          10.090909               19.000000
std              1.286291           3.477198                9.030811
min              1.000000           7.000000                0.000000
25%              1.500000           7.500000               14.250000
50%              3.000000           8.000000               19.500000
75%              4.000000          13.000000               26.250000
max              4.000000          16.000000               30.000000

## user 1 has 11 orders, all of them in the middle of the week, two orders(8,9) on the same day.

# exporting data

In [126]:
df_ords.to_csv(os.path.join(path,'Prepared Data','orders_wrangled.csv'))

In [127]:
df_dep_new.to_pickle(os.path.join(path,'Prepared Data','departments_wrangled.pkl'))

In [167]:
df_dep_new.dtypes

department_id
department    object
dtype: object

In [12]:
df_prods_ords_prior.shape

(32434489, 4)