# Importing libraries

In [3]:
import pandas as pd
import numpy as np
import os

# Importing Data

In [5]:
path=r'/Users/yasersouri/Desktop/data analysis/Instacart Basket Analysis/02 Data'

In [6]:
#import products dataframe
df_prods=pd.read_csv(os.path.join(path,'Original Data','products.csv'),index_col=False)

In [7]:
#import orders dataframe
df_ords=pd.read_csv(os.path.join(path,'Prepared Data','orders_wrangled.csv'),index_col=0)

# Data Consistency Checks

In [9]:
#change data types
df_ords['order_id']=df_ords['order_id'].astype('str')
df_ords['user_id']=df_ords['user_id'].astype('str')

In [10]:
#orders statistical analysis
df_ords.describe()

,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

## Mixed-type Data

In [12]:
# create mixed-type data
df_test=pd.DataFrame()
df_test['mix']=['a','b',1,True]

In [13]:
#function for checking whether a dataframe contains any mixed-type columns
for col in df_test.columns.tolist():
  weird = (df_test[[col]].map(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

In [14]:
# change data type
df_test['mix']=df_test['mix'].astype('str')

## Missing Data

In [16]:
#find missing data
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [17]:
#subset missing values
df_nan=df_prods[df_prods['product_name'].isnull()==True]

In [18]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [19]:
df_prods.shape

(49693, 5)

In [20]:
#filter out the missing values
df_prods_clean=df_prods[df_prods['product_name'].isnull()==False]

In [21]:
df_prods_clean.shape

(49677, 5)

## Duplicates

In [23]:
#find duplicates
df_dup=df_prods_clean[df_prods_clean.duplicated()]

In [24]:
df_dup

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [25]:
# delete dupicates
df_prods_clean2=df_prods_clean.drop_duplicates()

In [26]:
df_prods_clean2.shape

(49672, 5)

# Task 4.5

In [28]:
# orders dataframe statistical analysis
df_ords.describe()

,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

#all numbers are rational

## Mixed-type Data

In [31]:
#function for checking whether a dataframe contains any mixed-type columns
for col in df_test.columns.tolist():
  weird = (df_test[[col]].map(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)
else:
    print("No columns with mixed-type data found.")

No columns with mixed-type data found.

## Missing Data

In [33]:
#find missing data
df_ords.isnull().sum()

order_id                       0
user_id                        0
user_order_number              0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

#### it is normal to have missing values here, because the first time for all the customer won't have prior order
#### or if anyone buy multiple times on the same day will also have 0 value here

In [35]:
# important information we should not remove, we should create flag column
df_ords['first_order']=df_ords['days_since_prior_order'].isna()

In [36]:
df_ords.head()

,order_id,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order
0,2539329,1,1,2,8,NaN,True
1,2398795,1,2,3,7,15.0,False
2,473747,1,3,3,12,21.0,False
3,2254736,1,4,4,7,29.0,False
4,431534,1,5,4,15,28.0,False

## Duplicates

In [38]:
#find duplicates
df_dup2=df_ords[df_ords.duplicated()]

In [39]:
df_dup2

Empty DataFrame
Columns: [order_id, user_id, user_order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order, first_order]
Index: []

#### there are no duplicates

# Exporting data

In [42]:
#export products dataframe
df_prods_clean2.to_csv(os.path.join(path,'Prepared Data','clean_products_df.csv'))

In [43]:
#export orders dataframe
df_ords.to_csv(os.path.join(path,'Prepared Data','clean_orders_df.csv'))

In [44]:
df_ords.shape

(3421083, 7)

In [45]:
df_prods.shape

(49693, 5)

In [46]:
df_prods_clean.shape

(49677, 5)

In [79]:
df_dup2['first_order'].value_counts()

Series([], Name: count, dtype: int64)