# Import libraries

In [3]:
import pandas as pd
import numpy as np
import os

# Import Data

In [5]:
path=r'/Users/yasersouri/Desktop/data analysis/Instacart Basket Analysis/02 Data'

In [6]:
# import orders dataframe
df_ords=pd.read_csv(os.path.join(path,'Prepared Data','clean_orders_df.csv'),index_col=0)

In [7]:
# import orders_products_prior dataframe
df_ords_prior=pd.read_csv(os.path.join(path,'Original Data','orders_products_prior.csv'))

# Merging Data

In [9]:
df_ords.shape

(3421083, 7)

In [10]:
df_ords_prior.shape

(32434489, 4)

In [11]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [12]:
# merging df_ords and df_ords_prior dataframes 
df_merged_large=df_ords.merge(df_ords_prior,on='order_id')

In [13]:
df_merged_large.head()

,order_id,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,True,196,1,0
1,2539329,1,1,2,8,NaN,True,14084,2,0
2,2539329,1,1,2,8,NaN,True,12427,3,0
3,2539329,1,1,2,8,NaN,True,26088,4,0
4,2539329,1,1,2,8,NaN,True,26405,5,0

# Export data

In [15]:
df_merged_large.to_pickle(os.path.join(path,'Prepared Data', 'orders_products_combined.pkl'))

### i had to remove the indicator ,because when i tried to merge it to the products dataframe i had an error

In [29]:
df_merged_large.shape

(32434489, 10)