# Import Libraries

In [22]:
import pandas as pd
import numpy as np
import os

# Import Data

In [24]:
path=r'/Users/yasersouri/Desktop/data analysis/Instacart Basket Analysis/02 Data'

In [25]:
#import orders_products_combined dataframe
df_ords_com=pd.read_pickle(os.path.join(path,'Prepared Data','orders_products_combined.pkl'))

In [26]:
#import products dataframe
df_prods=pd.read_csv(os.path.join(path,'Prepared Data','clean_products_df.csv'),index_col=0)

# Merging Data

In [28]:
df_ords_com.shape

(32434489, 10)

In [29]:
df_ords_com.head()

,order_id,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,True,196,1,0
1,2539329,1,1,2,8,NaN,True,14084,2,0
2,2539329,1,1,2,8,NaN,True,12427,3,0
3,2539329,1,1,2,8,NaN,True,26088,4,0
4,2539329,1,1,2,8,NaN,True,26405,5,0

In [30]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [31]:
#merge the df_ords_com dataframe to the products dataframe
df_merged_products=df_ords_com.merge(df_prods, on='product_id', indicator=True)

In [44]:
df_merged_products.head()

,order_id,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,Original Beef Jerky,23,19,4.4,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both

In [33]:
df_merged_products['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

# Export Data

In [35]:
df_merged_products.to_pickle(os.path.join(path,'Prepared Data', 'ords_prods_merge.pkl'))