# Impot libraries

In [58]:
import pandas as pd
import numpy as np
import os

# Import Data

In [60]:
path=r'/Users/yasersouri/Desktop/data analysis/Instacart Basket Analysis/02 Data'

In [61]:
df=pd.read_pickle(os.path.join(path,'Prepared Data','ords_prods_merge.pkl'))

In [62]:
df_sub=df[:1000000]

In [63]:
df_sub.shape

(1000000, 14)

## IF Statment with User-Defind function

In [93]:
# define function (categorize the products into price ranges)
def price_label(row):
    if row['prices']<=5:
        return 'low_range product'
    elif (row['prices']>5) and (row['prices']<=15):
        return 'mid_range prroduct'
    elif row['prices']>15:
        return 'high_range product'
    else:return 'not enough data'

In [66]:
# run function
df_sub['price_range']=df_sub.apply(price_label,axis=1)

/var/folders/cd/8vl1s70d6dqgshpmc74wr4hw0000gn/T/ipykernel_92755/3557049718.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub['price_range']=df_sub.apply(price_label,axis=1)

In [67]:
df_sub.head()

,order_id,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,mid_range prroduct
1,2539329,1,1,2,8,NaN,True,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,mid_range prroduct
2,2539329,1,1,2,8,NaN,True,12427,3,0,Original Beef Jerky,23,19,4.4,low_range product
3,2539329,1,1,2,8,NaN,True,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,low_range product
4,2539329,1,1,2,8,NaN,True,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,low_range product

In [68]:
df_sub['price_range'].value_counts(dropna=False)

price_range
mid_range prroduct    673183
low_range product     314392
high_range product     12425
Name: count, dtype: int64

In [81]:
df_sub.describe()

,order_id,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,aisle_id,department_id,prices
count,1.000000e+06,1000000.000000,1000000.000000,1000000.000000,1000000.000000,936384.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000
mean,1.712098e+06,3295.070459,17.313612,2.765702,13.416690,11.062006,25595.891283,8.312942,0.590985,71.058417,9.984846,11.396794
std,9.870102e+05,1866.882221,17.931306,2.091348,4.221497,8.811708,14077.246950,7.208310,0.491652,38.228388,6.294836,425.994349
min,8.000000e+00,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000
25%,8.620670e+05,1699.000000,5.000000,1.000000,10.000000,5.000000,13536.000000,3.000000,0.000000,31.000000,4.000000,4.200000
50%,1.711365e+06,3350.000000,11.000000,3.000000,13.000000,8.000000,25340.000000,6.000000,1.000000,83.000000,9.000000,7.400000
75%,2.563843e+06,4937.000000,24.000000,5.000000,16.000000,15.000000,37825.000000,11.000000,1.000000,107.000000,16.000000,11.300000
max,3.420853e+06,6474.000000,99.000000,6.000000,23.000000,30.000000,49687.000000,95.000000,1.000000,134.000000,21.000000,99999.000000

## If Statement with the loc() Function

In [95]:
# categorize the whole dataframe products into price ranges
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [86]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [88]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [90]:
df['price_range_loc'].value_counts()

price_range_loc
Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: count, dtype: int64

## If Statement with For-Loops

In [97]:
# create a column to summarizes how busy each day of the week is
df['orders_day_of_week'].value_counts(dropna=False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

 0 means Saturday. This value has the highest frequency, meaning Saturday is the busiest day. Meanwhile, the 4 value has the lowest frequency. A value of 4, here, refers to Wednesday, meaning Wednesday is the slowest day for Instacart app orders.

In [102]:
result = []

for value in df["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [108]:
#create new column
df['busiest day']=result

In [110]:
df['busiest day'].value_counts(dropna=False)

busiest day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

# Task

In [138]:
# create column to the two busiest days and two lowest days
result2 = []

for value in df["orders_day_of_week"]:
  if (value==0) or (value==1):
    result2.append("Busiest day")
  elif (value == 4) or (value==3):
    result2.append("Least busy")
  else:
    result2.append("Regularly busy")

In [139]:
df['busiest days']=result2

In [141]:
df['busiest days'].value_counts(dropna=False)

busiest days
Regularly busy    12916111
Busiest day       11864412
Least busy         7624336
Name: count, dtype: int64

In [144]:
df['order_hour_of_day'].value_counts(dropna=False)

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

In [146]:
# create column of the busiest_period_of_day.
result3 = []

for value in df["order_hour_of_day"]:
  if (value==10) or (value==11) or(value== 14):
    result3.append("Most orders")
  elif (value == 4) or (value==3) or (value==2):
    result3.append("Fewest orders")
  else:
    result3.append("Average orders")

In [148]:
df['busiest_period_of_day']=result3

In [150]:
df['busiest_period_of_day'].value_counts(dropna=False)

busiest_period_of_day
Average orders    24043925
Most orders        8187036
Fewest orders       173898
Name: count, dtype: int64

# Export data

In [153]:
df.to_pickle(os.path.join(path,'Prepared Data','new_column_df.pkl'))